body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.control-buttons {
    margin-top: 20px;
}

.operate-buttons {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}



#voice-btn {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #d0ebff; /* 淡藍色 */
    color: #003f5c;
    border: 1px solid #90caff;
    border-radius: 6px;
}

/*按鈕結束*/

.camera-wrapper {
    display: flex;
    flex-direction: column;       /* 垂直排列標題 + 內容 */
    align-items: center;          /* 水平置中整個內容 */
    max-width: 1200px;
    margin: 0 auto;               /* 置中畫面 */
    padding: 30px;
    box-sizing: border-box;
}

/* 對 img 使用 id 單獨指定樣式 */
#camera-stream {
    border: 3px solid #555;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.camera-container {
    margin-top: 10px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}


.content-row {
    display: flex;
    flex-direction: row;
    gap: 20px;                    /* 左右內容間距 */
    align-items: flex-start;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.behavior-tree-box {
    width: 300px;
    height: 480px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
}



