<!DOCTYPE html>
<html>
<head>
    <title>即時鏡頭畫面</title>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="camera-wrapper">
        <div class="camera-container">
            <div class="content-row">

                 <!-- 左邊：鏡頭畫面 -->
                <div class="vertical-container">
                    <h1>鏡頭畫面</h1>
                    <img id="camera-stream" src="{{ url_for('video') }}" width="800" height="480">
                </div>

                <!-- 右邊：行為樹 -->
                <div class="vertical-container">
                    <h1>行為樹</h1>
                    <div class="behavior-tree-box">
                        <!-- 你可以在這裡放其他功能或資訊 -->
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="control-buttons">
        <button class="operate-buttons" onclick="open_and_close('open')">👐 打開夾爪</button>
        <button class="operate-buttons" onclick="open_and_close('close')">✊ 夾取物體</button>
        <button class="operate-buttons" onclick="setLearningMode()">Learning Mode</button>
        <button id="voice-btn" onclick="startVoiceInput()">🎤 語音輸入</button>
        <button class="operate-buttons" onclick="pickObject('blue_block')">抓藍色方塊</button>
        <button class="operate-buttons" onclick="pickObject('red_block')">抓紅色方塊</button>
        <button class="operate-buttons" onclick="moveToHome()">🏠 回 Home</button>

    </div>
    

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>

